<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= @page_title %></title>
  <link href="/img/decay_icon.png" rel="shortcut icon">
  <link href="<%= url('/css/styles.css') %>" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand decay-logo" href="<%= url('/') %>" alt="TinyDecay"></a>
  </div>
</nav>

